body {
  background-color: aqua;
}
#welcome {
  background-image: url(../assets/backgrounds/h_img.jpg);
  color: #ffffff;
  text-align: center;
  background-size: 100%;
  height: 900px;
  padding-top: 300px;
  font-family: Tahoma;
}

#services{
  background-image: url(../assets/backgrounds/s_image.jpg);
  color: #000000;
  text-align: center;
  font-family: Tahoma;
  height: 480px;
  padding-top: 140px;
}
#contact-us{
  background-image: url(../assets/backgrounds/c_image.jpg);
 color: #000000;
 text-align: center;
 font-family: Tahoma;
 height: 600px;
 padding-top: 140px;
}

#blm{
 background-image: url(../assets/portfolio/work4.jpg);
}
#security{
 background-image: url(../assets/portfolio/work3.jpg);
}
#prism{
 background-image: url(../assets/portfolio/work2.jpg);
}
#hollywood{
 background-image: url(../assets/portfolio/work1.jpg);
}
#daily{
 background-image: url(../assets/portfolio/work5.jpg);
}
#music{
 background-image: url(../assets/portfolio/work6.jpg);
}
#art{
 background-image: url(../assets/portfolio/work7.jpg);
}
#giraffe{
 background-image: url(../assets/portfolio/work8.jpg);
}
.portfolio{
 width: 250px;
 height: 250px;
 color: #ffffff;
 margin: auto;
 margin-bottom: 50px;
}
h1 {
 margin-top: 15px;
}

p {
 margin-top: 25px;
 padding: px;
}

#click {
 margin-top: 200px;
}

.container{
  text-align: center;
  background-size: 100%;
  padding-top: 20px;
  font-family: Tahoma;
  font-size: large;
 }